

.projectDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects {
    width: 100%;
    margin-top: 20px;
    background-color: whitesmoke
}

.projectHeader {
    display: flex;
    margin: 20px;
}

.projectHeaderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectHeaderDiv h2 {
    text-align: center;
}

.projectScreenshots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projectImages {
    width: 50%;
    height: 50%;
    margin: 15px;
    border-radius: 5%;
}

.newMobileProjectImages {
    width: 75%;
    height: 75%;
    margin: 15px;
    border-radius: 5%;
}

.projects {
    width: 100%;
}

.projectCard {
    margin-bottom: 12px;
}

.projectCardOuter div:first-of-type {
    width: 80% !important;
    padding-right: 0px;
}